<footer class="bg-light text-dark pt-5 pb-4">
  <div class="container">
    <div class="row">
      <!-- Columna 1: ¿Qué hacemos? -->
      <div class="col">
        <h6>¿QUÉ HACEMOS?</h6>
        <ul>
          <li>Asesoría en desarrollo empresarial</li>
          <li>Gestión de proyectos industriales</li>
          <li>Promoción del crecimiento económico</li>
          <li>Capacitación y formación empresarial</li>
          <li>Fomento de inversiones y networking</li>
        </ul>
      </div>

      <!-- Columna 2: Redes Sociales -->
      <div class="col text-center">
        <h6>SÍGUENOS EN REDES</h6>
        <div class="social-links">
          <a href="https://www.instagram.com/camaradeindustriasstodgo/" target="_blank">
            <img src="assets/icono1.png" alt="Instagram">
          </a>
          <a href="https://api.whatsapp.com/send/?phone=593999989256&text&type=phone_number&app_absent=0" target="_blank">
            <img src="assets/whatsapp.png" alt="WhatsApp">
          </a>
          <a href="https://www.facebook.com/camaradeindustriasstodgo/" target="_blank">
            <img src="assets/facebook.png" alt="Facebook">
          </a>
          <a href="https://www.tiktok.com/@camaradeindustriasstodgo?is_from_webapp=1&sender_device=pc" target="_blank">
            <img src="assets/tik-tok.png" alt="Tik Tok">
          </a>
          <a href="https://www.linkedin.com/in/c%C3%A1mara-de-industrias-y-producci%C3%B3n-de-santo-domingo-81abaa33b/" target="_blank">
            <img src="assets/linkedin.png" alt="linkedin">
          </a>
          <a href="https://x.com/CIP_STODGO" target="_blank">
            <img src="assets/x.png" alt="x">
          </a>
        </div>
      </div>

      <!-- Columna 3: Contacto -->
      <div class="col">
        <h6>¿NOS CUENTAS TU PROYECTO?</h6>
        <p>Cámara de Industrias y Producción de Santo Domingo</p>
        <p><strong>Ubicación:</strong> En la Gasolinera PyS, PEGOCENTRO, 2do Piso, Oficina No. 1</p>
        <p><strong>Teléfono:</strong> +593 99 998 9256</p>
        <p><strong>Correo: </strong>coordinacionejecutiva&#64;industriassdt.org <br>
          Presidencia&#64;industriassdt.org </p>
      </div>

    </div>
    <hr>
    <p>&copy; 2025 Cámara de Industrias y Producción de Santo Domingo.</p>
  </div>

</footer>
